@media screen and (max-width: 728px)
.logo-wrap {
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
}
.logo-wrap {
    padding: 0 0 0 25px;
    overflow: hidden;
    float: center;
    display: inline-block;
    box-sizing: border-box;
}
@media screen and (max-width: 728px)
#header h1, #header h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.image-logo {
    margin-top: 10px;
}
@media screen and (max-width: 728px)
#header h1, #header h2, .site-description {
    float: none;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

h1 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 32px;
    color: #555;
}
h1 {
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 12px;
    color: #555;
}

media screen and (max-width: 728px)
#logo a, #logo img {
    float: none!important;
    letter-spacing: 0;
}
#logo a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    color: #33bcf2;
}
@media screen and (max-width: 728px)
#logo a, #logo img {
    float: none!important;
    letter-spacing: 0;
}
#logo a {
    float: center;
    line-height: 1;
}
a:link, a:visited, a:active {
    text-decoration: none;
}

img[Attributes Style] {
    width: 160px;
    aspect-ratio: auto 160 / 40;
    height: 40px;
}
#logo a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 44px;
    color: #33bcf2;
}
#logo a {
    float: center;
    line-height: 1;
}



html {
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    display: block;
}

::selection {
    background: #222;
    color: white;
    text-shadow: none;
}

#site-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 5%);
}
header {
    float: left;
    width: 100%;
    position: relative;
}

body {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    color: #707070;
}

body {
    font: 16px/27px Fira Sans, sans-serif;
    color: #707070;
    background-color: #F0EDE9;
}

@media screen and (max-width: 600px)
#header .header-search {
    max-width: 50%;
}
@media screen and (max-width: 728px)
#header .header-search {
    max-width: 60%;
    float: left;
    padding-left: 25px;
    margin-top: 0;
    margin-left: 0;
}
@media screen and (max-width: 840px)
#header .header-search {
    max-width: 250px;
    float: right;
    margin-right: 24px;
}
@media screen and (max-width: 865px)
#header .header-search {
    max-width: 250px;
    float: left;
    margin-left: 20px;
}
@media screen and (max-width: 1050px)
#header .header-search {
    float: none;
    width: 35%;
}

#header .header-search {
    float: none;
    width: 100%;
    max-width: 453px;
    margin-bottom: 23px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 0;
    text-align: center;
}
#header #searchform {
    width: 100%;
    float: left;
}
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}

#searchform fieldset {
    width: 100%;
}
#searchform fieldset {
    float: left;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
body, .sidebar.c-4-12, #header #s {
    background-color: #f0ede9;
    background-image: url();
}
#header #s {
    border-radius: 10px 20px 20px 10px;
}

#header #s {
    margin: 0 !important;
    width: 100%;
    background: #EFEBE7;
    border-color: #EFEBE7;
}
#s, .woocommerce-product-search .search-field {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 8px 0;
    text-indent: 10px;
    color: #555;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 42px;
}

input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #a4a4a4;
    border: 1px solid #D8D8D8;
    font-family: inherit;
}
button, input, select, textarea {
    margin: 0;
}
user agent stylesheet
input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
@media screen and (max-width: 550px)
.sbutton {
    float: right;
}
.sbutton, #searchsubmit {
    right: 0;
    top: 0;
    padding: 9px 0;
    float: right;
    border: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #a4a4a4;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
    vertical-align: top;
}
button, input, select, textarea {
    margin: 0;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

#searchform .fa-search {
    border-radius: 100%;
}
#searchform .fa-search, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .page-numbers.current, .pagination .nav-previous a:hover, .pagination .nav-next a:hover, .single-prev-next a, .tagcloud a, #commentform input#submit, .contact-form #mtscontact_submit, .woocommerce-product-search input[type='submit'], .woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
    background-color: #2172e7 url(search-icon) 123px 15px no-repeat;
}
#searchform .fa-search {
    font-size: 20px;
    top: 0px;
    color: #FFF;
    background: #33BCF2;
    position: absolute;
    right: 0;
    padding: 9px;
    height: 24px;
    width: 24px;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media screen and (max-width: 865px)
#page, .container {
    max-width: 100%;
}
@media screen and (max-width: 865px)
#page, .container {
    max-width: 100%;
}
#page {
    margin-top: 40px;
    min-height: 100px;
    clear: both;
    float: left;
    width: 100%;
}
#page, .container {
    max-width: 1170px;
    min-width: 240px;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 720px)
#content_box {
    padding-right: 0;
    padding-left: 0!important;
}
@media screen and (max-width: 720px)
#content_box {
    padding-right: 0px;
    padding-left: 0px!important;
}
#content_box {
    float: left;
    width: 100%;
}

@media screen and (max-width: 728px)
.latestPost:nth-child(3n+1) {
    clear: left;
}
@media screen and (max-width: 728px)
.latestPost:nth-child(3n+1) {
    clear: none!important;
}

@media screen and (max-width: 865px)
.latestPost:nth-of-type(2n+2) {
    margin-right: 0;
    clear: none;
    float: right;
}

@media screen and (max-width: 900px)
article.latestPost .title, article.latestPost .title a {
    font-size: 20px;
    line-height: 1.4;
}


media screen and (max-width: 480px)
.latestPost {
    width: 155px!important;
}
@media screen and (max-width: 865px)
.latestPost {
    width: 200px!important;
    margin-right: .6%;
}
@media screen and (max-width: 480px)
.latestPost {
    width: 155px!important;
}
.latestPost {
    width: 200px;
    float: left;
    margin-bottom: 30px;
    margin-left: 1.5%;
    margin-right: 1.1%;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    position: relative;
}

.latestPost .title, .latestPost .title a {
    font-family: 'Alef';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    text-align: center;
}
.latestPost .title, .latestPost .title a {
    font-family: 'Alef';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 20px;
}

.latestPost header {
    padding: 15px 20px 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    min-height: 135px;
}
.latestPost header {
    padding: 12px 10px 13px;
    box-sizing: border-box;
    margin-bottom: 0;
    height: 150px;
}
article header {
    margin-bottom: 11px;
    float: left;
    width: 100%;
}
header {
    float: left;
    width: 100%;
    position: relative;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
@media screen and (max-width: 480px)
article.latestPost .title, article.latestPost .title a {
    font-size: 14px;
}
@media screen and (max-width: 900px)
article.latestPost .title, article.latestPost .title a {
    font-size: 20px;
    line-height: 1.4;
}
.latestPost .title, .latestPost .title a {
    font-family: 'Alef';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    text-align: center;
}
.latestPost .title {
    display: block;
    margin-bottom: 7px;
}
.latestPost .title, .latestPost .title a {
    font-family: 'Alef';
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 20px;
}
.latestPost .title {
    display: block;
    margin-bottom: 7px;
}
.title {
    clear: both;
}
@media screen and (max-width: 480px)
.latestPost {
    width: 155pximportant;
}
@media screen and (max-width: 865px)
.latestPost {
    width: 48%!important;
    margin-right: 2.6%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
    color: #33BCF2;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}


a:link, a:visited, a:active {
    text-decoration: none;
}
.thecontent a, .post .tags a, #commentform a, .author-posts a:hover, .fn a, a {
    color: #494949;
}
a {
    text-decoration: none;
    color: #33BCF2;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 480px)
.featured-thumbnail {
    width: 155px;
    max-height: 200px;
    overflow: hidden;
}
.featured-thumbnail {
    float: left;
    max-width: 100%;
    width: 100%;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 200px;
    float: center;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.wp-post-image {
    float: left;
}
@media screen and (max-width: 960px)
img {
    max-width: 100%;
    height: auto!important;
}

@media screen and (max-width: 960px)
img {
    max-width: 100%;
    height: auto!important;
}
img, video, object {
    max-width: 100%;
    height: auto!important;
}
meta {
    display: none;
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}

#primary-navigation, .navigation ul ul, .pagination a, .pagination .dots, .latestPost-review-wrapper, .single_post .thecategory, .single-prev-next a:hover, .tagcloud a:hover, #commentform input#submit:hover, .contactform #submit:hover, .post-label, .latestPost .review-type-circle.review-total-only, .latestPost .review-type-circle.wp-review-show-total, .bypostauthor .fn:after, #primary-navigation .navigation.mobile-menu-wrapper, #wpmm-megamenu .review-total-only, .owl-controls .owl-dot.active span, .owl-controls .owl-dot:hover span, .owl-prev, .owl-next, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce .bypostauthor:after, #searchsubmit, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
    background-color: #494949;
    color: #fff;
}
#primary-navigation {
    display: block;
    float: right;
    width: 100%;
    text-align: left;
    max-width: 1170px;
}
@media screen and (max-width: 865px)
a#pull {
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
    padding: 10px 0;
    text-indent: 15px;
}

a#pull {
    display: none;
}
#primary-navigation a {
    padding: 15px 30px;
    box-sizing: border-box;
}
#primary-navigation a {
    color: #FFF;
    text-align: left;
    text-decoration: none;
    padding: 8px 25px;
    -webkit-transition: none;
    transition: none;
}
@media screen and (max-width: 865px)
#primary-navigation ul li a, #primary-navigation ul ul a {
    padding: 9px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#primary-navigation li, #primary-navigation li a {
    font-family: 'Abel';
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
#primary-navigation a {
    padding: 15px 30px;
    box-sizing: border-box;
}
#primary-navigation a {
    color: #FFF;
    text-align: left;
    text-decoration: none;
    padding: 8px 25px;
    -webkit-transition: none;
    transition: none;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited {
    display: inline-block;
}

.navigation ul li {
    float: left;
    line-height: 24px;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    -webkit-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
@media screen and (max-width: 960px)
img {
    max-width: 100%;
    height: auto!important;
}

.alert {
    padding: 5px;
    background-color: #479e47;
    color: white;
    width: 90%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
center {
    text-align: -webkit-center;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
font[Attributes Style] {
    color: rgb(255, 255, 255);
    font-size: medium;
}
font[Attributes Style] {
    color: rgb(255, 255, 255);
    font-size: medium;
}
.alert a {
    color: white;
    text-decoration: none;
}



