tittle {
    color: black;
    font-size: 60px
}
img {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid black
}
.latestPost {
    width:200px;
    float:left;
    margin-bottom:30px;
    margin-left:1.5%;
    margin-right:1.1%;
    background:#fff;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.05);
    position:relative
}
.latestPost.last {
    margin-right:.9%!important
}
.rtl.latestPost { 
    margin-right:0;
    margin-left:.9%
}
.latestPost:nth-of-type(2n+2) { 
    margin-right:0;
    clear:none;
    float:left
}
.related-posts .latestPost:nth-child(2n+2) { 
    float:left;
    clear:none;
    margin-right:0!important
}
body {
    background-color: white;
}
